@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100vw, 0, 0); }
}

.animate-scroll {
    animation: scroll 120s linear infinite;
    will-change: transform;
}
