@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}

.animate-scroll {
  animation: scroll 120s linear infinite;
  will-change: transform;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInUp {
  animation: slideInUp 1s ease-out both;
}

@keyframes animateAmbient {
  0% {
    transform: rotate(0deg) translate(1em) rotate(0deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) translate(1em) rotate(-360deg) scale(1.2);
  }
}

.ambient {
  animation: animateAmbient 30s linear infinite;
}